# OpenAI API settings
OPENAI_BASE_URL=http://127.0.0.1:11434/v1
OPENAI_MODEL=qwen2.5:7b-instruct-q8_0

# Speech-to-text API settings
STT_BASE_URL=http://127.0.0.1:8000/v1/

# Silero TTS settings (not required).
# Here settings for Russian. Don't forget to change prompt for answering on Russian if use this settings.
# SILERO_MODEL=silero_tts
# SILERO_MODEL_ID=v4_ru
# SILERO_LANGUAGE=ru
# SILERO_SAMPLE_RATE=24000
# SILERO_SPEAKER=aidar
# SILERO_CPU_CORES=4

# Assistant settings
ASSISTANT_PROMPT=You are helpful bot. Answer in English.
GREETING=Hi!
